language: php

sudo: false

matrix:
    include:
        - php: '5.6'
        - php: '7.0'
        - php: '7.1'
        - php: hhvm
        - php: nightly
    fast_finish: true

script:
  - vendor/bin/phpunit --configuration=phpunit.xml.dist

before_script:
    # php deps
    - composer self-update
    - composer install --dev
